Source: sasl-xoauth2
Section: utils
Priority: extra
Maintainer: Tarick Bedeir (Ubuntu Development) <tarick@bedeir.com>
Build-Depends: debhelper (>= 11~),
               cmake,
               libcurl4-openssl-dev | libcurl4-nss-dev | libcurl4-gnutls-dev,
               libjsoncpp-dev,
               libsasl2-dev,
               libstdc++6-4.6-dev | libstdc++-dev,
               pandoc,
               pkg-config,
               python3-argparse-manpage,
               python3-msal
Standards-Version: 4.1.3

Package: sasl-xoauth2
Architecture: any
Depends: libsasl2-2, ca-certificates, python3-msal, ${shlibs:Depends}, ${misc:Depends}
Description: SASL extension for XOAUTH2.
